@import "tailwindcss";

:root {
  --background: #F7F4F0;
  --foreground: #1C1916;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-geist-sans), Arial, Helvetica, sans-serif;
}
